
.image{
    width: 30px;
    height: 30px;
    padding-left: 2px;
}





.a{
    font-size: 10px;
    padding-left: 3px;
    padding-bottom: 5px;
}
.aa{
    margin-bottom: 40px;
    justify-content: center;
    padding-top: 1%;
    
    
}